/Server/nbproject/private/
/Server/.settings/
/Client/nbproject/private/
/Client/.settings/
/Client/build/
/Server/build/
/Server/dist/
/Client/dist/
/DClient/nbproject/private/
/UClient/nbproject/private/
/DClient/build/
/DClient/dist/
/UClient/build/
/UClient/dist/